@{
	ViewBag.Title = "Index";
}
<section class="section-tabs" id="about">
	<h2 class="center">A GSIntegradora</h2>
	<div class="tabs" data-style="alt" id="home-tabs">
		<div class="tab">
			<h4 class="title">Sobre nós</h4>
			<div class="tab-content tab-text">
				<div class="wrapper grid">
					<div class="unit half">
						<div class="devices-slide">
							<img src="~/Content/images/temp/monitor.png" class="item item-1" data-appear-animation="fadeIn" data-appear-animation-delay="0.2" width="467" alt="" />
							<img src="~/Content/images/temp/ipad.png" class="item item-2" data-appear-animation="fadeInLeft" data-appear-animation-delay="0.4" width="199" alt="" />
							<img src="~/Content/images/temp/iphone.png" class="item item-3" data-appear-animation="fadeInRight" data-appear-animation-delay="0.8" width="133" alt="" />
						</div>
					</div>
					<div class="unit half">
						<h4>Nosso modo de trabalho</h4>
						<p>
							A GSIntegradora é uma empresa 100% nacional, situada em Campinas somos uma empresa
							especializada na implantação e prestação de serviços na área da tecnologia da informação.
						</p>
						<p>
							Atuamos nos mais diversos segmentos empresarias, com isso contamos com pessoal técnico qualificado e
							compentente para realizar os mais variados serviços e constantemente investe em capacitação de seus
							colaboradores e assim ganhamos o respeito e a credibilidade de nossos clientes nos serviços prestados:
						</p>
						<ol>
							<li data-appear-animation="bounceInUp">Segurança</li>
							<li data-appear-animation="bounceInUp" data-appear-animation-delay="0.4">Redes e Dados</li>
							<li data-appear-animation="bounceInUp" data-appear-animation-delay="0.8">Backup e Dados</li>
							<li data-appear-animation="bounceInUp" data-appear-animation-delay="1.2">Comunicação e Suporte</li>
						</ol>
					</div>

				</div>
			</div>
		</div>
		<div class="tab tab-services">
			<h4 class="title">Serviços</h4>
			<div class="tab-content">
				<div class="wrapper grid">
					<div class="unit one-quarter" data-appear-animation="fadeIn">
						<a href="javascript:;" class="icon">
							<i class="fa fa-shield"></i>
						</a>
						<h5><a href="javascript:;">Segurança</a></h5>
						<p>
							Segurança de Perímetro - Firewalls, Prevenção e Detecção de Intrusão (IPS/IDS),
							Acesso Remoto Seguro (VPN), Controle de Acessos, Autenticação com Criptografia Forte,
							Anti-X (Antivírus, AntiSpam, Antispyware, AntiPhishing), Filtro de Conteúdo WEB.
						</p>
					</div>
					<div class="unit one-quarter" data-appear-animation="fadeIn" data-appear-animation-delay="0.4">
						<a href="javascript:;" class="icon">
							<i class="fa fa-signal"></i>
						</a>
						<h5><a href="javascript:;">Redes</a></h5>
						<p>
							Redes Locais (LAN), Redes Remotas com Roteamento (WAN), Redes sem Fio (WLAN Indoor),
							Análise de Redes, Soluções de (QoS), Redundância de Links, Balanceamento de Links,
							Implantação de sistemas Microsoft, Linux e BSD.
						</p>
					</div>
					<div class="unit one-quarter" data-appear-animation="fadeIn" data-appear-animation-delay="0.8">
						<a href="javascript:;" class="icon">
							<i class="fa fa-tasks"></i>
						</a>
						<h5><a href="javascript:;">Backup e Dados</a></h5>
						<p>Virtualização de Servidores, Alta disponibilidade de Serviços e Soluções de Backup.</p>
					</div>
					<div class="unit one-quarter" data-appear-animation="fadeIn" data-appear-animation-delay="1.2">
						<a href="javascript:;" class="icon">
							<i class="fa fa-comments"></i>
						</a>
						<h5><a href="javascript:;">Comunicação e Suporte</a></h5>
						<p>
							Email Corporativo, Monitoramento e arquivamento de mensagens instantâneas,
							Monitoramento e Auditoria de Email, Disponibilização de Webmail, Licenciamento
							de Software, Contrato de Manutenção, Atendimento Programado e Documentações.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="tab">
			<h4 class="title">Dados de Trabalho</h4>
			<div class="tab-content">
				<div class="wrapper grid">
					<div class="unit half">

						<h3>Infographics about our company</h3>

						<div class="progress">
							<div class="title">Web design</div>
							<div class="progress-value">
								<div class="value" data-appear-animation-delay="0.10" data-appear-animation="animateWidth" data-width="85%">
									<div data-appear-animation-delay="0.30" data-appear-animation="bounceIn" class="value-title">85%</div>
								</div>
							</div>
						</div>

						<div class="progress">
							<div class="title">Photography</div>
							<div class="progress-value">
								<div class="value" data-appear-animation-delay="0.15" data-appear-animation="animateWidth" data-width="95%">
									<div data-appear-animation-delay="0.30" data-appear-animation="bounceIn" class="value-title">95%</div>
								</div>
							</div>
						</div>

						<div class="progress">
							<div class="title">Video Tutorials</div>
							<div class="progress-value">
								<div class="value" data-appear-animation-delay="0.20" data-appear-animation="animateWidth" data-width="68%">
									<div data-appear-animation-delay="0.40" data-appear-animation="bounceIn" class="value-title">68%</div>
								</div>
							</div>
						</div>

						<div class="progress">
							<div class="title">Interior Design</div>
							<div class="progress-value">
								<div class="value" data-appear-animation-delay="0.25" data-appear-animation="animateWidth" data-width="52%">
									<div data-appear-animation-delay="0.40" data-appear-animation="bounceIn" class="value-title">52%</div>
								</div>
							</div>
						</div>

						<div class="progress">
							<div class="title">Art</div>
							<div class="progress-value">
								<div class="value" data-appear-animation-delay="0.30" data-appear-animation="animateWidth" data-width="45%">
									<div data-appear-animation-delay="0.40" data-appear-animation="bounceIn" class="value-title">45%</div>
								</div>
							</div>
						</div>

						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>

					</div>

					<div class="unit half">
						<img src="~/Content/images/temp/device.png" data-appear-animation="bounceIn" width="435" alt="" />
					</div>

				</div>
			</div>
		</div>
	</div>

</section>
<section class="portfolio" id="portfolio">
	<h2 class="center">Nossos Parceiros</h2>
	<div class="portfolio-view-lightbox">
		<div class="overlay"></div>
		<div id="portfolio-lightbox-item-1" class="item">
			<div class="item-inside">
				<!-- portfolio images -->
				<div class="images">
					<img src="#" data-src="~/Content/images/temp/lightbox-item-1.jpg" alt="" />
					<img src="#" data-src="~/Content/images/temp/lightbox-item-2.jpg" alt="" />
					<img src="#" data-src="~/Content/images/temp/lightbox-item-3.jpg" alt="" />

					<div class="clear"></div>

					<!-- images pagination links -->
					<div class="images-pagination">
						<a href="javascript:;" class="current"></a>
						<a href="javascript:;"></a>
						<a href="javascript:;"></a>
					</div>

					<!-- close button -->
					<a href="javascript:;" class="close"></a>

					<!-- next / prev project links -->
					<a href="javascript:;" title="Next project" class="show-tooltip next-project"></a>
					<a href="javascript:;" title="Previous project" class="show-tooltip prev-project"></a>

					<!-- next / prev image links -->
					<a href="javascript:;" class="next-image"></a>
					<a href="javascript:;" class="prev-image"></a>

				</div>

				<!-- description block -->
				<div class="description">
					<div class="inside">
						<h3>Project caption</h3>
						<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
							in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
							to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.
						</p>

						<a href="javascript:;" class="button style-alt-third"><i class="fa fa-desktop"></i>Visit project</a>
					</div>

				</div>
			</div>
		</div>

		<!--

					Second portfolio lightbox window example

				-->

		<div id="portfolio-lightbox-item-2" class="item">


			<div class="item-inside">
				<!-- portfolio images -->
				<div class="images">

					<img src="#" data-src="~/Content/images/temp/lightbox-item-3.jpg" alt="" />


					<div class="clear"></div>

					<!-- images pagination links -->
					<div class="images-pagination">
						<a href="javascript:;" class="current"></a>
					</div>

					<!-- close button -->
					<a href="javascript:;" class="close"></a>

					<!-- next / prev project links -->
					<a href="javascript:;" title="Next project" class="show-tooltip next-project"></a>
					<a href="javascript:;" title="Previous project" class="show-tooltip prev-project"></a>

					<!-- next / prev image links -->
					<a href="javascript:;" class="next-image"></a>
					<a href="javascript:;" class="prev-image"></a>

				</div>

				<!-- description block -->
				<div class="description">
					<div class="inside">
						<h3>Another project title</h3>
						<p>
							There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
							in some form, by injected humour, or randomised words which don't look even slightly believable.
						</p>

						<a href="javascript:;" class="button style-alt-third"><i class="fa fa-desktop"></i>Visit project</a>
					</div>

				</div>
			</div>

		</div>


	</div>

	<!--
				View grid
			-->
	<div class="portfolio-view-grid">

		<div class="items">

			<div class="swiper-container">
				<div class="swiper-wrapper">

					<div class="swiper-slide">

						<!--
									Portfolio item
								-->
						<div class="item filter-illustration">
							<!--
										Thumbnail
									-->
							<a class="thumbnail" href="javascript:;">
								<img src="~/Content/images/logos/microsoft-logo.jpg" style="padding: 113px 0 100px;" width="480" alt="" />
							</a>
							<!--
										Title and tags
									-->
							<h5><a href="javascript:;">Microsoft</a></h5>
							<div class="tags">
								<a href="javascript:;">Windows and Server</a>
							</div>

							<!--
										Links on hover
									-->
							<a href="#portfolio-lightbox-item-1" class="button on-hover details style-alt"><i class="fa fa-file-text"></i>Detalhes</a>
							<a href="javascript:;" class="button on-hover view-live style-alt"><i class="fa fa-link"></i>Site</a>
						</div>

						<!--
									Portfolio item
								-->
						<div class="item filter-branding">
							<!--
										Thumbnail
									-->
							<a class="thumbnail" href="javascript:;">
								<img src="~/Content/images/logos/ca-logo.png" width="480" alt="" />
							</a>
							<!--
										Title and tags
									-->
							<h5><a href="javascript:;">CA Technologies</a></h5>
							<div class="tags">
								<a href="javascript:;">Services</a>
							</div>

							<!--
										Links on hover
									-->
							<a href="#portfolio-lightbox-item-2" class="button on-hover details style-alt"><i class="fa fa-file-text"></i>Detalhes</a>
							<a href="javascript:;" class="button on-hover view-live style-alt"><i class="fa fa-link"></i>Site</a>
						</div>

					</div>

					<div class="swiper-slide">

						<!--
									Portfolio item
								-->
						<div class="item filter-photography">
							<!--
										Thumbnail
									-->
							<a class="thumbnail" href="javascript:;">
								<img src="~/Content/images/logos/IBM-logo.gif" width="480" height="325" alt="" />
							</a>
							<!--
										Title and tags
									-->
							<h5><a href="javascript:;">IBM</a></h5>
							<div class="tags">
								<a href="javascript:;">Services</a>
							</div>

							<!--
										Links on hover
									-->
							<a href="#portfolio-lightbox-item-1" class="button on-hover details style-alt"><i class="fa fa-file-text"></i>Detalhes</a>
							<a href="javascript:;" class="button on-hover view-live style-alt"><i class="fa fa-link"></i>Site</a>
						</div>

						<!--
									Portfolio item
								-->
						<div class="item filter-portfolio">
							<!--
										Thumbnail
									-->
							<a class="thumbnail" href="javascript:;">
								<img src="~/Content/images/logos/sonicwall-logo.gif" width="480" height="100" style="padding: 100px 0 94px" alt="" />
							</a>
							<!--
										Title and tags
									-->
							<h5><a href="javascript:;">Sonic Wall</a></h5>
							<div class="tags">
								<a href="javascript:;">Infrastructure</a>
							</div>

							<!--
										Links on hover
									-->
							<a href="#portfolio-lightbox-item-2" class="button on-hover details style-alt"><i class="fa fa-file-text"></i>Detalhes</a>
							<a href="javascript:;" class="button on-hover view-live style-alt"><i class="fa fa-link"></i>Site</a>
						</div>

					</div>

					<div class="swiper-slide">

						<!--
									Portfolio item
								-->
						<div class="item filter-portfolio">
							<!--
										Thumbnail
									-->
							<a class="thumbnail" href="javascript:;">
								<img src="~/Content/images/logos/vmware-logo.jpg" width="480" style="padding: 80px 0 78px" alt="" />
							</a>
							<!--
										Title and tags
									-->
							<h5><a href="javascript:;">VMWare</a></h5>
							<div class="tags">
								<a href="javascript:;">Virtualização</a>
							</div>

							<!--
										Links on hover
									-->
							<a href="#portfolio-lightbox-item-1" class="button on-hover details style-alt"><i class="fa fa-file-text"></i>Detalhes</a>
							<a href="javascript:;" class="button on-hover view-live style-alt"><i class="fa fa-link"></i>Site</a>
						</div>

						<!--
									Portfolio item
								-->
						<div class="item filter-branding">
							<!--
										Thumbnail
									-->
							<a class="thumbnail" href="javascript:;">
								<img src="~/Content/images/logos/kaspersky-logo.jpg" style="padding: 80px 0 73px" width="480" alt="" />
							</a>
							<!--
										Title and tags
									-->
							<h5><a href="javascript:;">Kaspersky</a></h5>
							<div class="tags">
								<a href="javascript:;">Anti-Virus and Safety</a>
							</div>

							<!--
										Links on hover
									-->
							<a href="#portfolio-lightbox-item-2" class="button on-hover details style-alt"><i class="fa fa-file-text"></i>Detalhes</a>
							<a href="javascript:;" class="button on-hover view-live style-alt"><i class="fa fa-link"></i>Site</a>
						</div>

					</div>
				</div>
			</div>

		</div>

		<!--
					Scrollbar
				-->
		<div class="wrapper">
			<div class="swiper-scrollbar swiper-scrollbar-grid"></div>
		</div>

	</div>
</section>

<!--
			Home testimonials
			Example with image parallax as background
		-->
<section class="parallax testimonials" id="testimonials" data-parallax-speed="10">

	<div class="wrapper">
		<h2 class="center">Cases</h2>

		<div class="items">

			<div class="item">
				<blockquote>
					<p>&laquo;There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable&raquo;</p>
					<cite><span>Steve Mcqueen</span>, technology manager of Adobe</cite>
				</blockquote>
			</div>

			<div class="item hidden">
				<blockquote>
					<p>&laquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet justo vel neque facilisis pharetra. Vivamus ut enim eget massa lobortis dapibus in mattis tellus. Aliquam nec dignissim ante, eget cursus libero.&raquo;</p>
					<cite><span>John Doe</span>, technology manager of Adobe</cite>
				</blockquote>
			</div>

			<div class="item hidden">
				<blockquote>
					<p>&laquo;Proin sit amet tellus venenatis, pulvinar augue eu, dictum urna. Suspendisse in accumsan est. Etiam volutpat quam non erat tincidunt, vitae iaculis ligula venenatis. Nunc consectetur pellentesque mauris, at rhoncus massa consequat ut.&raquo;</p>
					<cite><span>Mickey Smith</span>, technology manager of Adobe</cite>
				</blockquote>
			</div>

		</div>

		<div class="pages">
			<a href="javascript:;" class="current"></a>
			<a href="javascript:;"></a>
			<a href="javascript:;"></a>
		</div>

	</div>

</section>

<section class="facts">

	<div class="wrapper grid">

		<div class="unit one-quarter">

			<div class="inside">

				<h4 data-appear-animation="animateDigits" data-from="0" data-to="5981">5981</h4>
				<h5><span>Projects</span></h5>

			</div>

		</div>

		<div class="unit one-quarter">

			<div class="inside">

				<h4 data-appear-animation="animateDigits" data-from="0" data-to="735">735</h4>
				<h5><span>Happy clients</span></h5>

			</div>

		</div>

		<div class="unit one-quarter">

			<div class="inside">

				<h4 data-appear-animation="animateDigits" data-from="0" data-to="10228">10228</h4>
				<h5><span>People like us</span></h5>

			</div>

		</div>

		<div class="unit one-quarter">

			<div class="inside">

				<h4 data-appear-animation="animateDigits" data-from="0" data-to="5872">5872</h4>
				<h5><span>Cups of coffee</span></h5>

			</div>

		</div>

	</div>

</section>

<section class="contacts" id="location">
	<h2 class="center">Localização</h2>

	<div id="google-map"></div>

</section>

<section class="contacts" id="contact">

	<h2 class="center">Contato</h2>

	<div class="wrapper grid">

		<div class="unit half">

			<form id="contact-form" action="javascript:;" method="post">
				<fieldset>

					<p class="row">
						<input type="text" id="input-name" name="name" value="" placeholder="Nome completo" />
					</p>

					<p class="row">
						<input type="email" id="input-email" name="email" value="" placeholder="Email" />
					</p>

					<p class="row">
						<input type="text" name="subject" id="input-subject" value="" placeholder="Assunto" />
					</p>

					<p class="row">
						<textarea name="message" id="input-message" placeholder="Mensagem"></textarea>
					</p>

					<button type="submit" class="style-border-alt alignright"><i class="fa fa-envelope-o"></i>Enviar mensagem</button>

				</fieldset>
			</form>

		</div>

		<div class="unit half">
			<p class="address"><i class="fa fa-map-marker"></i>Rua Dona Libânia, 2.191 - 3º Andar, Edifico Empresarial Anchieta - Centro - Campinas, SP - 13015-090 </p>

			<p class="phone"><i class="fa fa-phone-square"></i>(19) 3241-5688</p>

			<p class="email"><i class="fa fa-envelope"></i><a href="mailto:gsti@gsti.com.br">Contato: gsti@gsti.com.br</a></p>
			<p class="email"><i class="fa fa-envelope"></i><a href="mailto:sac@gsti.com.br">SAC: sac@gsti.com.br</a></p>
			<p class="email"><i class="fa fa-envelope"></i><a href="mailto:rh@gsti.com.br">Trabalhe conosco: rh@gsti.com.br</a></p>

		</div>

	</div>

</section>
